/* ** */
*{
    margin:0px;
    padding: 0px;
}
/* body */

body{
    font-family: 'Roboto', sans-serif;
}

/* Banner section */

     /* Banner Container Section */

.banner-container{
    background-color:rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:850px ;
    margin-bottom: 200px;
    

}
.banner-text{
    margin-left: 100px;
    
}
.heading-text{
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal; 
color: rgb(82, 82, 82);
margin-bottom: 25px;

}
.pera-text{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 25px; 
}
.primary-button{
    padding:20px 40px;
    border-radius: 8px;
    border: none;
    background: #E55473;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.banner-images{
    margin-top: 53px;
    margin-right: 100px;
    
}

/* <!-- Hot deals section - ->*/


.hot-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 200px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding:50px ;
    

}
.hot-text{
    padding-left: 250px;

}
.heading-hot-text{
    text-align: center;
    margin-bottom: 15px;
}
.hot-pera-text{
    text-align: center;
    margin-bottom: 25px;
}
.sign-up{
    margin-left: 140px;
}
.hot-images img{
   width: 318px; 
   padding-right: 329px;
}
/* instagram Section */
.instagram-container{
    margin-bottom: 200px;
}
.instagram-text{
    margin-bottom: 48px;
}
.head-insta{
    text-align: center;
    margin-bottom: 20px;
    width: 600px;
    margin: 0 auto;
}
.instagram-text h1{
    font-size: 45px;
    margin-bottom: 10px;
}
.instagram-text p{
    font-size: 18px;
}
.insta-img{
    width: 230px;
}
.instagram-images{
    display: flex;
   justify-content: space-around;
   padding-left: 210px;
   padding-right: 210px;
}
/* latest collection section */

.latest-container{
    background-image: url(images/Rectangle\ 9.png);
    width: 1440px;
    height: 449px;
    margin-bottom: 200px;
}
.latest-text{
    text-align: center;
    padding-top: 122px;
}